*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 50px auto; */
    background-color:#dee2e6;
    /* min-height: 100vh;
    max-width: 1200px; */
}
